<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleIdentifier</key><string>local.make-plan.dictation</string>
<key>CFBundleName</key><string>PlanDictation</string>
<key>CFBundleExecutable</key><string>PlanDictation</string>
<key>CFBundlePackageType</key><string>APPL</string>
<key>LSBackgroundOnly</key><true/>
<key>NSSpeechRecognitionUsageDescription</key><string>Распознавание голосовых комментариев к плану</string>
</dict></plist>
